<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Password Generator</title>
  </head>
  <body>
    <div class="jumbotron">


    <h3>Generate you random password here!!</h3>
    <form action="{% url 'randompassword' %}">
      <label for="charlen">Password Length : </label><br/>
  <select  name="charlen">
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8" selected='selected'>8</option>
      <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <br/>
    <br/>
    <label>Character Options</label>
    <br/>
    <label>Number Of Special Characters:</label><br/>
    <select name="specials">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      </select>
      <br/>
      <br/>
      <label>Number Of Special Digits:</label><br/>
      <select name="numbers">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        </select>
        <br/>
        <br/>
    <input type="submit" class="btn btn-primary" value="Generate Random Password"></input>
    <br/>
    </form>
    </div>
  </body>
</html>
